<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"        
	xmlns:gap   = "http://phonegap.com/ns/1.0"       
	id = "ojpeters.newsapp"       
	versionCode = "10"        version     = "1.1.0">   
 
	 <name>News posting app</name>    
	 <description>        
		Post your news with a difference   
	 </description>     
		<author href="http://www.ojpeters.com" email="ojpeters@gmail.com">        
			Joseph Eze    
		</author>     
		<feature name="http://api.phonegap.com/1.0/camera"/>   
		<feature name="http://api.phonegap.com/1.0/contacts"/>    
		<feature name="http://api.phonegap.com/1.0/file"/>    
		<feature name="http://api.phonegap.com/1.0/geolocation"/>    
		<feature name="http://api.phonegap.com/1.0/media"/>   
		<feature name="http://api.phonegap.com/1.0/network"/>    
		<feature name="http://api.phonegap.com/1.0/notification"/> 
		<feature name="Camera">
			<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
		</feature>
		<icon src="icon.png" />


 </widget>